*.cfg
*.cfg
*.cfg
/.godot/editor
.godot/editor/battle_useable.tscn-editstate-43fc991c863303059ea253b6cc7924ae.cfg
*.md5
.godot/editor/create_recent.Node
.godot/editor/editor_layout.cfg
/.godot/editor
/.godot/editor
.godot/uid_cache.bin
.godot/imported/second_dealing_intro.mp3-635dd50c66e9a08692d3dc11030377f2.mp3str
.godot/imported/Pixel 3.mp3-7f000a820f9dc88b92a12619ab1b9352.mp3str
.godot/imported/Pixel 3.mp3-7f000a820f9dc88b92a12619ab1b9352.md5
.godot/imported/mpb.png-eb40c0934ec4623e606ff05713a1a3bd.ctex
.godot/imported/Minecraft.ttf-6e6f39ace614ef763900cb16df8b2008.md5
.godot/imported/Minecraft.ttf-6e6f39ace614ef763900cb16df8b2008.fontdata
.godot/imported/DungeonFont.ttf-4cbae0d5ade07040510b9499b8778160.fontdata
.godot/imported/21_orc_damage_1.wav-7eb72e6a496dcaf47e9aa5f339ae7d4e.sample
.godot/imported/17_orc_atk_sword_1.wav-d81cfa6cce16e239a6d1511835faa934.sample
.godot/imported/12 Boss Theme LOOP.wav-ab0d411b7f0ffd2c71513768a0abefef.sample
.godot/imported/11_human_damage_1.wav-209ac20a44268d02f52a5760e2b610bd.sample
.godot/imported/09 Jungle Dungeon LOOP.wav-642d99c397ce738bb9fbc3af9f2abeb5.sample
.godot/imported/08 Royal City LOOP.wav-d79a80b39d8227a28d9038e57f7a1967.sample
.godot/imported/07_human_atk_sword_2.wav-204a0bd7d56928d2d5a8b6713d3141e9.sample
.godot/imported/05 Bustling Town LOOP.wav-75919302f9e6188e6eb56adae16dbb23.sample
.godot/imported/04 Battle Theme LOOP.wav-2c3d966d717ca4ae718994ae8824365f.sample
.godot/imported/01_chest_open_2.wav-34f953aa0043534e9047f9f3238e8fc3.sample
.godot/editor/standard_dice.tscn-folding-bf3221bafb984822837c02d1c6e961a2.cfg
.godot/editor/script_editor_cache.cfg
.godot/editor/risky_dice.tscn-folding-6d58a031bf336d3e174b0a337dd3376d.cfg
.godot/editor/project_metadata.cfg
.godot/editor/map.tscn-editstate-7c0cf44e324bcdd33eb89154067b6c79.cfg
.godot/editor/filesystem_update4
.godot/editor/filesystem_cache8
.godot/editor/editor_layout.cfg
.godot/editor/dice.tscn-folding-e3d78b3c1502ca3d9eab02ae09066f35.cfg
