*.cfg
*.cfg
*.cfg
/.godot/editor
.godot/editor/battle_useable.tscn-editstate-43fc991c863303059ea253b6cc7924ae.cfg
*.md5
.godot/editor/create_recent.Node
.godot/editor/editor_layout.cfg
/.godot/editor
.godot/editor/filesystem_cache8
.godot/editor/filesystem_cache8
.godot/editor/filesystem_update4
.godot/editor/map.tscn-editstate-7c0cf44e324bcdd33eb89154067b6c79.cfg
